.contact {
	width: 86%;
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
	background-color: $bg-color;
	@include adaptiv-value("margin-top", 150, 60, 1);
	box-shadow: 0px 0px 30px rgba(0,0,0, .8);
	padding: 40px 15px;
	&-img {
		flex: 0 0 50%;
		transform: translateY(-20%);
		position: relative;
		height: 350px;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@media (max-width: 992px) {
			flex: 0 0 40%;
			transform: translateY(-10%);
			top: 0;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
	&-form {
		flex: 0 0 50%;
		padding-left: 40px;
		&-title {
			color: $main-color;
			font-size: 26px;
			font-weight: 300;
			text-align: left;
			@media (max-width: 768px) {
				text-align: center;
			}
			&:after {
				content: '';
				display: block;
				width: 20%;
				height: 1px;
				background-color: $main-color;
				margin-top: 4px;
				@media (max-width: 768px) {
					margin: 5px auto 0px auto;
					font-size: 20px;
				}

			}			
		}
		form {
			input {
				display: block;
				width: 70%;
				height: 40px;
				margin-top: 30px;
				background-color: transparent;
				border: none;
				border: 1px solid rgba(199,126,48,.6);
				border-radius: 5px;
				color: #fff;
				outline: none;
				padding: 5px;
				&:focus {
					box-shadow: 0 0 8px $main-color;
				}
				@media (max-width: 992px) {
					margin: 30px 0 0 0;
					width: 80%;
				}
				@media (max-width: 768px) {
					margin: 30px auto 0px auto;
					width: 60%;
				}
				@media (max-width: 576px) {
					width: 80%;
					margin: 20px auto 0px auto;
				}
			}
			.error {
				border: 1px solid rgba(214, 59, 12, 0.6);
				box-shadow: 0 0 8px #d63b0c99;
			}
			.form-btn {
				display: block;
				margin-top: 35px;
				width: 150px;
				height: 40px;
				background-color: transparent;
				border: 1px solid $main-color;
				color: $main-color;
				cursor: pointer;
				&:hover{
					box-shadow: 0 0 10px $main-color;
				}
				@media (max-width: 768px) {
					margin: 35px auto 0px auto;
				}
				@media (max-width: 576px) {
					margin-top: 20px;
				}
			}
			.form-error {
				font-size: 10px;
				color: #fff;
				margin-top: 5px;
				opacity: 0;
				transition: all 0.3s ease 0s;
				&.active {
					opacity: 1;
				}
			}
			.form-message {
				display: block;
				opacity: 0;
				color: #fff;
				margin-top: 20px;
				text-align: left;
				transition: all 0.3s ease 0s;
				&.active {
					opacity: 1;
				}
				@media (max-width: 768px) {
					text-align: center;
					margin-top: 10px;
				}
				@media (max-width: 576px) {
					font-size: 10px;
				}
			}
		}
		@media (max-width: 992px) {
			flex: 0 0 60%;
		}
		@media (max-width: 768px) {
			flex: 0 0 100%;
			text-align: center;
			padding: 0;
		}
	}
	@media (max-width: 576px) {
		padding: 25px 15px;
	}
}