.timer {
	@include adaptiv-value("margin-top", 150, 60, 1);
	text-align: center;
	&-title {
		@include adaptiv-font(35,25,1);
		color: $main-color;
	}
	&-action {
		font-size: 24px;
		color: #fff;
		margin-top: 40px;
	}
	&-numbers {
		margin-top: 40px;
		font-size: 90px;
		color: $main-color;
		&:after {
			content: '';
			display: block;
			width: 20%;
			height: 1px;
			background-color: $main-color;
			margin: 0 auto;
			margin-top: 4px;
		}
		@media (max-width: 576px) {
			font-size: 50px;
		}
	}
}