.timer {
	@include adaptiv-value("margin-top", 150, 60, 1);
	text-align: center;
	width: 100%;
	min-height: 100px;
	background: url('../img/main_bg.jpg') center center/cover no-repeat;
	padding: 50px;
	@include adaptiv-value("padding", 50, 25, 1);
	box-shadow: 0px 0px 30px rgba(0,0,0, .8);
	&-title {
		@include adaptiv-font(35,25,1);
		color: $main-color;
	}
	&-action {
		font-size: 24px;
		color: #fff;
		margin-top: 40px;
	}
	&-numbers {
		margin-top: 40px;
		font-size: 90px;
		color: $main-color;
		&:after {
			content: '';
			display: block;
			width: 20%;
			height: 1px;
			background-color: $main-color;
			margin: 0 auto;
			margin-top: 4px;
		}
		@media (max-width: 576px) {
			font-size: 50px;
		}
	}
}