@import 'base/variables';
@import 'base/mixins.scss';
@import 'base/fonts.scss';
@import 'base/normalize.scss';
@import '../../node_modules/swiper/swiper-bundle.css';

$maxWidth: 1920;
$maxWidthContainer: 1140;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'RobotoSlab', sans-serif;
    color: #fff;
    font-size: 16px;
}

ul, ol, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
    width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    // @media (max-width: 992px) {
    //     max-width: 720px;
    // }
    // @media (max-width: 768px) {
    //     max-width: 540px;
    // }
    @media (max-width: 992px) {
        width: 100%;
        padding: 0 15px;
    }
}

.content {
	width: 100%;
	min-height:2000px;
	background: url('../img/main_bg.jpg');
    background-position: 50% 30%;
    position: relative;
    padding-bottom: 30px;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade{
    from {opacity: .1}
    to {opacity: 1}
  }

.more {
    display: block;
    margin: 60px auto 0px auto;
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid $main-color;
    font-size: 18px;
    color: $main-color;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &-menu {
        margin: 0;
        padding: 10px;
        border: 2px solid $main-color;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 992px) {
            padding: 7px;
            font-size: 14px;  
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 0 10px $main-color;
        }
    }
}

.pageup  {
    opacity: 0;
    display: block;
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 2;
    transition: all 0.3s ease 0s;
    &.active {
        opacity: 1;
    }
    @media (max-width: 992px) {
        right: 14px;
        width: 25px;
        height: 25px; 
    }
}

@import 'blocks/header.scss';
@import 'blocks/promo.scss';
@import 'blocks/info.scss';
@import 'blocks/timer.scss';
@import 'blocks/slider.scss';
@import 'blocks/title.scss';
@import 'blocks/counter.scss';
@import 'blocks/contacts.scss';
@import 'blocks/social.scss';
@import 'blocks/popup.scss';